node_modules
############################################
## Linux
############################################

*~
.directory
.fuse_hidden*
.Trash-*
.nfs*

############################################
## macOS
############################################

._*
*.DS_Store
.AppleDouble
.LSOverride
Icon
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

############################################
## NPM
############################################

logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
build/
typings/
*.tsbuildinfo
.npm
.eslintcache
.node_repl_history
*.tgz
.env
.env.test
.cache
.next
.nuxt
dist/
.out
.storybook-out
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
tmp/
temp/

############################################
## VSCode
############################################

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history