############################################
## Linux
############################################

*~
.directory
.fuse_hidden*
.Trash-*
.nfs*

############################################
## macOS
############################################

._*
*.DS_Store
.AppleDouble
.LSOverride
Icon
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

############################################
## Vagrant
############################################

.vagrant/*
*.log

############################################
## Packer
############################################

packer_cache/
*.box

############################################
## Terraform
############################################

.terraform
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

############################################
## VSCode
############################################

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

############################################
## Go
############################################

binance-wrapper/tmp




worker/store
